<p id="notice"><%= notice %></p>

<h1>Looks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Uni</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @looks.each do |look| %>
      <tr>
        <td><%= look.name %></td>
        <td><%= look.gender %></td>
        <td><%= look.uni %></td>
        <td><%= link_to 'Show', look %></td>
        <td><%= link_to 'Edit', edit_look_path(look) %></td>
        <td><%= link_to 'Destroy', look, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Look', new_look_path %>
